# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NodeJS files
coverage
coverage.json

# Foundry files
cache/
artifacts/
cache/
out/

# Ignore Environment Variables!
.env
.env.prod

# Ignore flattened files
flattened.txt
broadcast

# Foundry Coverage / gas
lcov.info
.gas-snapshot
